diffusers[torch]==0.26.3
fastapi==0.110.0
python-multipart==0.0.9
uvicorn==0.27.1
opencv-python==4.9.0.80
pydantic==2.2.1
numpy==1.24.4
onnx==1.14.0
onnxruntime-gpu==1.17.1
scikit-image==0.22.0
pillow==10.0.0
torch==2.0.1
torchvision==0.15.2
transformers==4.32.0